{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load static %}
{% load bootstrap3 %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{% block title %}This is my new project home page{% endblock title %}</title>

    <script src="https://use.fontawesome.com/1fd7c5df6b.js"></script>
    {#    <script type="text/javascript" src="//vk.com/js/api/openapi.js?133"></script>#}
    {##}
    {#    <!-- VK Widget -->#}
    {#    <div id="vk_community_messages"></div>#}
    {#    <script type="text/javascript">#}
    {#        VK.Widgets.CommunityMessages("vk_community_messages", 105873414, {});#}
    {#    </script>#}

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/indexwrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">

    {% render_block "css" %}
</head>

<body>

{% cms_toolbar %}

<div class="container">

    <div id="indexwrap" class="container">
        <row>
            {% include 'blocks/block_navbar.html' %}
        </row>
        <row>
            {% block header %} {% endblock header %}
        </row>
    </div>

    {% block content %}{% endblock content %}

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% render_block "js" %}

{% block footer %}
    {% include 'blocks/block_footer.html' %}
{% endblock footer %}
</body>
</html>
